<!DOCTYPE html>
<html>
  <head>
    <title>Settings</title>
  </head>
  <body>
    <h1 style="text-align:center;">Settings</h1>
    <p style="font-size:20px;">Pour créer les recettes</p>
    <div style="display:flex; justify-content: center; margin-top:20px;">
      <a href="create/" style="padding: 10px 20px; background-color: #ff8c00; color: white; border-radius: 5px; margin-right: 20px;">Créer une recette</a>
        <a href="ingredient/" style="padding: 10px 20px; background-color: #ff8c00; color: white; border-radius: 5px; margin-right: 20px;">Ajouter un ingrédient</a>
    </div>
    <div style="text-align:center; margin-top:30px;">
      <a href="../" style="font-size:16px;">Retour à l'accueil</a>
    </div>
  </body>
</html>